<head>
	<title>HTML TITLE IN THE HEAD</title>
</head>

<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">
		<h1 align="center">
			Advice is awesome!
		</h1>

		<br>	
		<button type="button" class="btn btn-primary">LAUNCH</button>
		<br>
		<br>
	</div>
</body>



