<div class="awesome-box col-xs-6 col-xs-offset-3">
	<%= simple_form_for @quote do |f| %>
  		<%= f.input :saying %>
  		<%= f.input :author %>
  		<br>
  		<%= f.button :submit %>
	<% end %>
	<br>
</div>